# Python compiled byte code
*.pyc

# Staticfiles
/static/

# Virtualenv
venv/

# editors
.idea
**/.tern-port
.vscode

local_settings.py

db.sqlite3
djangographql/djangographql/settings/local.py
